services:

  db:
    image: postgres
    restart: always
    shm_size: 128mb
    ports:
      - 5432:5432
    volumes:
      - postgres_data:/var/lib/postgresql
    
    environment:
      POSTGRES_PASSWORD: teste123

volumes:
  postgres_data:
